body {
    line-height: 1.5;
    text-align: justify;
    font-family: "Walbaum Display Light", serif;
    font-size: 1.5em;
}

h1 {
  color: navy;
  font-family: sans-serif;
  margin-left: 1.4rem;
}

h2 {
    color: black;
    font-family: sans-serif;
    margin-left: 1.4rem;
  }

h3 {
  color: gray;
  font-family: sans-serif;
  margin-left: 1.4rem;
}

#id-Education ul{
    list-style-type: none;
}

#id-Education ul li::before{
    font-family: "FontAwesome";
    content: "\f19d";
}

#id-Languages ol li::before{
    font-family: "FontAwesome";
    content: "\f1ab";
}

address{
    font-family: sans-serif;
    font-style: normal;
}

address::before{
    font-family: "FontAwesome";
    content: "\f279";
}

footer{
    font-family: sans-serif;
    clear: both;
}

.indent-1 section {
    width: 50%; 
    float: left;
    overflow: hidden;
}
