@media (prefers-color-scheme: light) {
    body {
        background-color: #fefbd8;
        color: black;
    }
    h1 {color:navy;}
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    h1 {color:RoyalBlue;}
}

body {
    line-height: 1.5;
    text-align: justify;
    font-family: "Walbaum Display Light", serif;
    font-size: 1.5em;
}

h1 {
  font-family: sans-serif;
  margin-left: 1.4rem;
}

h2 {
    font-family: sans-serif;
    margin-left: 1.4rem;
  }

h3 {
  color: gray;
  font-family: sans-serif;
  margin-left: 1.4rem;
}

#id-Education ul{
    list-style-type: none;
}

#id-Education ul li::before{
    font-family: "FontAwesome";
    content: "\f19d";
}

#id-Languages ol li::before{
    font-family: "FontAwesome";
    content: "\f1ab";
}

address{
    font-family: sans-serif;
    font-style: normal;
}

address::before{
    font-family: "FontAwesome";
    content: "\f279";
}

#id-twitter a::before{
    font-family: "FontAwesome";
    content: "\f081";
}

#id-linkedin a::before{
    font-family: "FontAwesome";
    content: "\f08c";
}

#covid-19 p::before{
    font-family: "FontAwesome";
    content: "\f071";
}


footer{
    font-family: sans-serif;
    clear: both;
}

.indent-1 section {
    width: 50%; 
    float: left;
    overflow: hidden;
}
